body {
  background: darkslategrey;
}

h1 {
  text-align: center;
}

.dropdowns {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 50px auto;
  .FirstCurrencySelector {
    min-width: 200px;
  }
  .SecondCurrencySelector {
    min-width: 200px;
  }
}

.result {
  text-align: center;
}